<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headConfig') %>
    <link rel="stylesheet" href="/styles/store.css" />
    <title>store</title>
  </head>

  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <main class="main">
        <header class="heading-wrapper">
          <h1 class="heading">Product categories</h1>
        </header>
        <section class="product-categories-wrapper"> 
          <% productCategories.forEach((category, index)=>{ %>
          <div class="product-category-card">
            <a href="store/<%= category.product_category_route %>" class="card-link">
              <img
                src="<%= category.product_category_image_path %>"
                alt="<%= category.product_category_name %>"
                class="card-image"
              />
              <h4 class="card-title"><%= category.product_category_name %></h4>
            </a>
          </div>
          <% }) %> 
        </section>
        <% if (messages.error) { %>
          <p class="message-error"><%= messages.error %></p>
        <% } %>
        <% if (messages.success) { %>
          <p class="message-success"><%= messages.success %></p>
        <% } %>
        <header class="heading-wrapper">
          <h2 class="heading">Products</h2>
        </header>
        <form action="/store" method="get" class="products-sort-form">
          <select name="sort" id="products-sort-select" class="products-sort-select" onchange="this.form.submit()">
            <option value="price_desc" class="products-sort-option" <%= sort == 'price_desc' ? 'selected' : '' %>>price - from the highest</option>
            <option value="price_asc" class="products-sort-option" <%= sort == 'price_asc' ? 'selected' : '' %>>price - from the lowest</option>
            <option value="name_asc" class="products-sort-option" <%= sort == 'name_asc' ? 'selected' : '' %>>name A-Z</option>
            <option value="name_desc" class="products-sort-option" <%= sort == 'name_desc' ? 'selected' : '' %>>name Z-A</option>
          </select>
        </form>
        <section class="products-wrapper">
          <% products.forEach((product)=>{ %>
          <div class="product-card">
            <div class="card-icons-wrapper">
              <!-- TODO: add to fav and add to cart link -->
              <% if(typeof favourites != 'undefined'){ %> 
                <% let alreadyAdded = false; %> 
                <% for(let i = 0; i < favourites.length; i++){ %>
                  <% if(favourites[i].favourite_product_id == product.product_id){ %> 
                  <% alreadyAdded = true; %> 
                  <% break; %> 
                  <% }%>
                <% } %>
                <% if(alreadyAdded){ %>
                  <a href="/user/favourites/remove/<%= product.product_id  %>" class="card-icon-link">
                    <i class="fa-solid fa-heart"></i>
                  </a>
                <% }else{ %>
                  <a href="/user/favourites/add/<%= product.product_id %>" class="card-icon-link">
                    <i class="fa-regular fa-heart"></i>
                  </a>
                <% } %>   
              <% }else{ %>
                <a href="/user/favourites/add/<%= product.product_id %>" class="card-icon-link">
                  <i class="fa-regular fa-heart"></i>
                </a>
              <% } %>
              <a href="/cart/add/<%= product.product_id %>" class="card-icon-link">
                <i class="fa-solid fa-cart-plus"></i> 
              </a>
            </div>
            <a href="/store/<%= product.product_category_route %>/<%= product.product_route %>" class="card-image-link">
              <img src="<%= product.product_image_path %>" alt="<%= product.product_name %>" class="card-image">
            </a>
            <div class="card-description">
              <a href="/store/<%= product.product_category_route %>/<%= product.product_route %> %>" class="card-description-link">
                <p class="card-artist"><%= product.product_artist %></p>
                <h4 class="card-title"><%= product.product_name %></h4>
              </a>
              <p class="card-price"><%= product.product_price %> £</p>
            </div>
          </div>
          <% }) %> 
        </section>
      </main>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scriptsConfig') %>
  </body>
</html>
